Project/module.SharedResources/Schemas/EAIMessaging/DynamicProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/DynamicProperties" xmlns:tns="http://www.example.org/DynamicProperties" elementFormDefault="qualified">

	<element name="DynamicProperties">
		<complexType>
			<sequence>
				<element name="property" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="name" type="string"/>
							<element name="value" type="string"/>
							<element name="type" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

</schema>